@page
@model Yggdrasil.Pages.Study.HomeworkAddModel
@{
}
<h2 class="h2">@Model.InputedSubject.Name</h2>
<form method="post" asp-page="HomeworkUpdate" enctype="multipart/form-data">
    <div class="input-group form-control mb-3">
        <input type="hidden" asp-for="Input.SubjectId" value="@Model.InputedSubject.Id" />
        <span class="input-group-text" id="basic-addon1">Задание</span>
        <input class="form-control" asp-for="@Model.Input.Description" aria-label="Description">
        <span class="input-group-text" id="basic-addon1">Дедлайн</span>
        <input class="form-control" type="datetime-local" asp-for="Input.Deadline" />
        <span class="input-group-text" id="basic-addon1">Завершен?</span>
        <div class="input-group-text">
            <input class="form-check-input form-control mt-0" asp-for="@Model.Input.Finished" type="checkbox" aria-describedby="basic-addon1">
        </div>
    </div>
    <input asp-for="Input.FormFiles"/>
    <div asp-validation-summary="All" class="list-group"></div>
    <button asp-page-handler="Insert" type="submit" class="btn btn-success">Сохранить</button>
    <button asp-page="Homework" type="submit" class="btn btn-cancel">Отменить</button>
    <a class="btn btn-warning" asp-page="Homework">Отменить</a>
</form>